.contenidoInformacion
{
    display: flex;
    margin: 5%;
    justify-content: center;
}
.contenidoInformacion h1
{
    margin-top: 10%;
}
.contenidoInformacion #primElemento
{
    margin-right: 20%;
}
.mapa
{
    display: flex;
    justify-content: center;
}